# Pivot_table 실습

## 실습용 'titanic' 데이터셋

In [7]:
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')

In [8]:
TD = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]
TD.head()

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [9]:
TD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       714 non-null    float64
 1   sex       891 non-null    object
 2   class     891 non-null    category
 3   fare      891 non-null    float64
 4   survived  891 non-null    int64
dtypes: category(1), float64(2), int64(1), object(1)
memory usage: 29.0+ KB

### pivot_table( ) 구성요소

* index : 행 인덱스
* column : 열 인덱스
* values : 데이터
* aggfunc : 적용 함수

In [10]:
TD_1 = pd.pivot_table(TD,
                      index = 'class',
                      columns = 'sex',
                      values = 'age',
                      aggfunc = 'mean')

TD_1

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

### 두 개의 적용 함수

In [11]:
TD_2 = pd.pivot_table(TD,
                      index = 'class',
                      columns = 'sex',
                      values = 'survived',
                      aggfunc = ['mean', 'sum'])

In [12]:
TD_2

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47

### 다중 인덱스, 다중 데이터, 다중 함수

In [14]:
TD_3 = pd.pivot_table(TD,
                      index = ['class', 'sex'],
                      columns = 'survived',
                      values = ['age', 'fare'],
                      aggfunc = {'age':['mean', 'std'],'fare':['min', 'max']})

In [15]:
TD_3

                     age                                     fare            \
                    mean                   std                max
survived               0          1          0          1       0         1
class  sex
First  female  25.666667  34.939024  24.006943  13.223014  151.55  512.3292
       male    44.581967  36.248000  14.457749  14.936744  263.00  512.3292
Second female  36.000000  28.080882  12.915107  12.764693   26.00   65.0000
       male    33.369048  16.022000  12.158125  19.547122   73.50   39.0000
Third  female  23.818182  19.329787  12.833465  12.303246   69.55   31.3875
       male    27.255814  22.274211  12.135707  11.555786   69.55   56.4958


                   min
survived             0        1
class  sex
First  female  28.7125  25.9292
       male     0.0000  26.2875
Second female  10.5000  10.5000
       male     0.0000  10.5000
Third  female   6.7500   7.2250
       male     0.0000   0.0000

### 멀티인덱스

In [ ]:
TD_3.index

MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

In [ ]:
TD_3.xs('First', level = 'class', axis = 0)

                age                                     fare            \
               mean                   std                max
survived          0          1          0          1       0         1
sex
female    25.666667  34.939024  24.006943  13.223014  151.55  512.3292
male      44.581967  36.248000  14.457749  14.936744  263.00  512.3292


              min
survived        0        1
sex
female    28.7125  25.9292
male       0.0000  26.2875

In [ ]:
TD_3.xs('male', level = 'sex', axis = 0)

                age                                     fare                 \
               mean                   std                max            min
survived          0          1          0          1       0         1    0
class
First     44.581967  36.248000  14.457749  14.936744  263.00  512.3292  0.0
Second    33.369048  16.022000  12.158125  19.547122   73.50   39.0000  0.0
Third     27.255814  22.274211  12.135707  11.555786   69.55   56.4958  0.0



survived        1
class
First     26.2875
Second    10.5000
Third      0.0000

In [ ]:
TD_3.xs(('First', 'male'), level = ['class', 'sex'], axis= 0)

                  age                                 fare                 \
                 mean                std               max            min
survived            0       1          0          1      0         1    0
class sex
First male  44.581967  36.248  14.457749  14.936744  263.0  512.3292  0.0



survived          1
class sex
First male  26.2875

### 열 멀티인덱스

In [ ]:
TD_3.columns

MultiIndex([( 'age', 'mean',  'Dead'),
            ( 'age', 'mean', 'Alive'),
            ( 'age',  'std',  'Dead'),
            ( 'age',  'std', 'Alive'),
            ('fare',  'max',  'Dead'),
            ('fare',  'max', 'Alive'),
            ('fare',  'min',  'Dead'),
            ('fare',  'min', 'Alive')],
           names=['Header', 'Fuction', 'Survived'])

In [ ]:
TD_3.columns.set_names(['Header', 'Fuction', 'Survived'], inplace = True)

In [ ]:
TD_3.columns

MultiIndex([( 'age', 'mean', 0),
            ( 'age', 'mean', 1),
            ( 'age',  'std', 0),
            ( 'age',  'std', 1),
            ('fare',  'max', 0),
            ('fare',  'max', 1),
            ('fare',  'min', 0),
            ('fare',  'min', 1)],
           names=['Header', 'Fuction', 'Survived'])

In [ ]:
TD_3.columns.set_levels(['Dead', 'Alive'], level = 2, inplace = True)

<ipython-input-76-ace6f01fc354>:1: FutureWarning: inplace is deprecated and will be removed in a future version.
  TD_3.columns.set_levels(['Dead', 'Alive'], level = 2, inplace = True)

In [ ]:
TD_3.columns

MultiIndex([( 'age', 'mean',  'Dead'),
            ( 'age', 'mean', 'Alive'),
            ( 'age',  'std',  'Dead'),
            ( 'age',  'std', 'Alive'),
            ('fare',  'max',  'Dead'),
            ('fare',  'max', 'Alive'),
            ('fare',  'min',  'Dead'),
            ('fare',  'min', 'Alive')],
           names=['Header', 'Fuction', 'Survived'])

In [ ]:
TD_3

Header               age                                     fare            \
Fuction             mean                   std                max
Survived            Dead      Alive       Dead      Alive    Dead     Alive
class  sex
First  female  25.666667  34.939024  24.006943  13.223014  151.55  512.3292
       male    44.581967  36.248000  14.457749  14.936744  263.00  512.3292
Second female  36.000000  28.080882  12.915107  12.764693   26.00   65.0000
       male    33.369048  16.022000  12.158125  19.547122   73.50   39.0000
Third  female  23.818182  19.329787  12.833465  12.303246   69.55   31.3875
       male    27.255814  22.274211  12.135707  11.555786   69.55   56.4958

Header
Fuction            min
Survived          Dead    Alive
class  sex
First  female  28.7125  25.9292
       male     0.0000  26.2875
Second female  10.5000  10.5000
       male     0.0000  10.5000
Third  female   6.7500   7.2250
       male     0.0000   0.0000